@import "styles";

.about-main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 60px;
}

.title {
    color: rgba(255, 255, 255, 0.692);
    text-align: left;
}

.subtitle {
    text-align: left;
}

