@import "styles";

.products,
.serviceHelp {
    justify-content: center;
    margin: 50px 0;
    color: $whiteText;
    font-size: 18px;
}

.productText {
    color: black;
}

#serviceContent {
    width: 80%;
    margin: 0 auto;
}

#divider {
    height: 200px;
}
