@import "styles";

.products,
.serviceHelp {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    height: 60vh;
    padding: 300px 10px;
    color: $whiteText;
    font-size: 18px;
}
