@import "../styles/styles.scss";

.site-footer {
    background-color: #eee;
    color: #515151;
    text-align: center;
    margin-top: 10vh;
  }
  .container {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem;
  }